<html>
<head>
<style>

</style>
</head>
<h1>Booking<h1>
<body>
  
<%= form_with model: [@show, @ticket] do |form| %>

<label for="ticket_purchased">Number of ticket</label>
<%= form.text_field :ticket_purchased ,id: "ticket_purchased"%>

<%= form.submit %><br>
<%end%>
</html>
</body>