 <p><%= flash[:status_msg] %></p>
<%= form_with url: "/search_tickets", method: :post do |form| %>

<p><strong>Enter your ticket id</strong></p>
<%=form.text_field :unique_id, id: "unique_id"%>

<%= form.submit%>
<%end%>